

<div class='console-container'><span id='text1'></span><div class='console-underscore' id='console'>&#95;</div></div>
<script src="js/text-animation.js"></script>
</body>

<!-- <footer>
  Made with ❤️ by Paulina Jędrzejewska.

  <div class='console-container'><span id='text1'></span><div class='console-underscore' id='console'>&#95;</div></div>
</footer> -->

</html>
